<h4 *ngIf="isEditMode; else newTemplate">Edit Recipe Details</h4>
<ng-template #newTemplate>
    <h4>Add New Recipe Details</h4>
</ng-template>
<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button
                        [disabled]="recipeForm.invalid"
                        type="submit"
                        class="btn btn-success">
                        {{ isEditMode ? 'Update & Save' : 'Save' }}
                    </button>
                    <button
                        type="button"
                        class="btn btn-danger"
                        (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label for="name">Recipe Name</label>
                    <input
                        type="text"
                        id="name"
                        class="form-control"
                        name="name"
                        formControlName="name">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label for="imagePath">Image URL</label>
                    <input
                        type="text"
                        id="imagePath"
                        class="form-control"
                        name="imagePath"
                        formControlName="imagePath"
                        #imagePath>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img [src]="imagePath.value" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label for="description">Description</label>
                    <textarea
                        type="text"
                        id="description"
                        class="form-control"
                        rows="6"
                        name="description"
                        formControlName="description"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div
                        class="row"
                        *ngFor="let ingCtrl of getControls(); let idx = index"
                        [formGroupName]="idx">
                        <div class="col-xs-8">
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="col-xs-2">
                            <input type="number" class="form-control" formControlName="amount">
                        </div>
                        <div class="col-xs-1">
                            <button
                                type="button"
                                class="btn btn-danger"
                                (click)="removeRecipeIngredient(idx)">X</button>
                        </div>
                        <div
                            class="col-xs-1"
                            *ngIf="idx == getControls().length - 1">
                            <button
                                type="button"
                                (click)="addRecipeIngredient()"
                                [disabled]="ingCtrl.invalid"
                                class="btn btn-success">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>